* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%; }

body {
  background: url("../img/bg.jpg");
  background-repeat: none;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  font-weight: normal;
  width: 100%;
  height: 100%; }

h1 {
  font-weight: normal;
  font-size: 43px; }

header {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  display: inline-block;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid #5ab4fa;
  font-family: serif; }
  header h1 {
    display: inline-block; }

#mobile_menu {
  display: none;
  float: right;
  cursor: pointer;
  margin-top: 8.5px;
  margin-right: 15.5px; }
  @media only screen and (max-width: 56.25em) {
    #mobile_menu {
      display: inline-block; } }
  #mobile_menu img {
    height: 26px;
    width: 31px; }

nav {
  width: 100%;
  line-height: 40px;
  font-size: 24px;
  color: white;
  background: rgba(80, 80, 80, 0.75); }
  @media only screen and (max-width: 56.25em) {
    nav {
      display: none; } }
  nav a {
    color: white;
    text-decoration: none; }
  nav ul {
    height: inherit; }
    nav ul .selected {
      background: #5ab4fa; }
    nav ul li {
      display: inline-block;
      height: inherit; }
      @media only screen and (max-width: 56.25em) {
        nav ul li {
          display: block; } }
      nav ul li:hover {
        background: #63c6ff; }
    nav ul a {
      padding: 0 40px 0 40px;
      width: 100%;
      max-height: 100%; }
      @media only screen and (max-width: 56.25em) {
        nav ul a {
          padding-right: 100%; } }

.centered {
  margin-left: auto;
  margin-right: auto; }

.centered_text {
  text-align: center; }

.block {
  width: 100%; }

.box {
  width: 28.75em;
  text-align: left;
  margin: 5% auto 0 auto;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #888888;
  -webkit-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85);
  -moz-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85);
  box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85);
  font-size: 1.5em;
  padding: 1.875em 1.875em; }
  @media only screen and (max-width: 56.25em) {
    .box {
      width: 90%; } }
  @media only screen and (max-width: 30em) {
    .box {
      width: 100%;
      margin: 0; } }

.narrow {
  width: 15.625em; }
  @media only screen and (max-width: 56.25em) {
    .narrow {
      width: 90%;
      max-width: 15.625em; } }
  @media only screen and (max-width: 30em) {
    .narrow {
      width: 100%;
      margin: 0;
      max-width: 100%; } }

.img_collection {
  max-width: 80%;
  margin: 0 auto; }
  .img_collection a {
    color: inherit; }

.img_frame {
  display: inline-block;
  text-align: left;
  margin: 0.625em 0.3125em;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #888888;
  -webkit-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85);
  -moz-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85);
  box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85);
  font-size: 1.5em;
  padding: 0.625em; }
  .img_frame:hover {
    background: white; }
  .img_frame img {
    height: 118px;
    width: 177px; }
  @media only screen and (max-width: 56.25em) {
    .img_frame {
      margin: 0.625em 0.625em; } }

.form_error {
  width: 100%;
  font-size: 24px;
  background: #ff4444;
  color: white;
  padding: 5px;
  margin: -24px 0 24px 0;
  line-height: 36px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85);
  -moz-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85);
  box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85); }

.round_top {
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.round_bottom {
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; }

input[type="text"], input[type="password"] {
  font-size: 24px;
  width: 100%;
  margin: 0 auto 24px auto;
  padding: 5px; }

input[type="checkbox"] {
  font-size: 24px;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px; }

label {
  font-size: 24px;
  display: block; }

button {
  width: 80%;
  margin: 5% 10% 0 10%;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  background: #5ab4fa;
  color: white;
  border: 1px solid #888888;
  -webkit-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85);
  -moz-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85);
  box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85); }

.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

.group:before, .group:after {
  content: "";
  display: table; }
.group:after {
  clear: both; }

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }
  .col:first-child {
    margin-left: 0; }
  @media only screen and (max-width: 56.25em) {
    .col {
      margin: 1% 0 1% 0%; } }

.span-1-of-12 {
  width: 6.86667%; }
  @media only screen and (max-width: 56.25em) {
    .span-1-of-12 {
      width: 100%; } }

.span-2-of-12 {
  width: 15.33333%; }
  @media only screen and (max-width: 56.25em) {
    .span-2-of-12 {
      width: 100%; } }

.span-3-of-12 {
  width: 23.8%; }
  @media only screen and (max-width: 56.25em) {
    .span-3-of-12 {
      width: 100%; } }

.span-4-of-12 {
  width: 32.26667%; }
  @media only screen and (max-width: 56.25em) {
    .span-4-of-12 {
      width: 100%; } }

.span-5-of-12 {
  width: 40.73333%; }
  @media only screen and (max-width: 56.25em) {
    .span-5-of-12 {
      width: 100%; } }

.span-6-of-12 {
  width: 49.2%; }
  @media only screen and (max-width: 56.25em) {
    .span-6-of-12 {
      width: 100%; } }

.span-7-of-12 {
  width: 57.66667%; }
  @media only screen and (max-width: 56.25em) {
    .span-7-of-12 {
      width: 100%; } }

.span-8-of-12 {
  width: 66.13333%; }
  @media only screen and (max-width: 56.25em) {
    .span-8-of-12 {
      width: 100%; } }

.span-9-of-12 {
  width: 74.6%; }
  @media only screen and (max-width: 56.25em) {
    .span-9-of-12 {
      width: 100%; } }

.span-10-of-12 {
  width: 83.06667%; }
  @media only screen and (max-width: 56.25em) {
    .span-10-of-12 {
      width: 100%; } }

.span-11-of-12 {
  width: 91.53333%; }
  @media only screen and (max-width: 56.25em) {
    .span-11-of-12 {
      width: 100%; } }

.span-12-of-12 {
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .span-12-of-12 {
      width: 100%; } }
