@import constants

.section
  clear: both
  padding: 0px
  margin: 0px

.group
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

.col
  display: block
  float: left
  margin: 1% 0 1% $gutter
  &:first-child 
    margin-left: 0 
  @media #{$break-tablet}
    margin: 1% 0 1% 0%


// create the spans
@for $i from 1 through $cols
  .span-#{$i}-of-#{$cols}
    width: colw($i, $cols)
    @media #{$break-tablet}
      width: 100%

