@import constants

.centered
  margin-left: auto
  margin-right: auto

.centered_text
  text-align: center

.block
  width: 100%

.box
  //display: inline-block
  width: ems(460)
  text-align: left
  margin: 5% auto 0 auto
  // basic styling
  background: rgba(255,255,255,$alpha)
  border: 1px solid #888
  -webkit-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85)
  -moz-box-shadow:    3px 3px 7px rgba(50, 50, 50, 0.85)
  box-shadow:         3px 3px 7px rgba(50, 50, 50, 0.85)
  font-size: ems(24)
  padding: ems(30) ems(30)
  @media #{$break-tablet}
    width: 90%
    //margin: 0
  @media #{$break-phone}
    width: 100%
    margin: 0

// TODO: Make contents of img_collection horizontally centered.
.img_collection
  max-width: 80%
  margin: 0 auto
  a
    color: inherit

.img_frame
  display: inline-block
  text-align: left
  margin: ems(10) ems(5)
  // basic styling
  background: rgba(255,255,255,$alpha)
  &:hover
    background: white
  border: 1px solid #888
  -webkit-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.85)
  -moz-box-shadow:    3px 3px 7px rgba(50, 50, 50, 0.85)
  box-shadow:         3px 3px 7px rgba(50, 50, 50, 0.85)
  font-size: ems(24)
  padding: ems(10)
  img
    height: 118px
    width: 177px
  @media #{$break-tablet}
    //width: 100%
    margin: ems(10) ems(10)
