@import constants


*
  padding: 0
  margin: 0
  box-sizing: border-box

html
  height: 100%
  width: 100%

body
  background: url('../img/bg.jpg')
  background-repeat: none
  background-position: center center
  background-attachment: fixed
  background-size: cover
  font-family: sans-serif
  font-weight: normal
  width: 100%
  height: 100%

h1
  font-weight: normal
  font-size: 43px

header
  width: 100%
  box-sizing: border-box
  //height: $header-height
  padding-left: 10px
  display: inline-block
  color: white
  background: rgba(0,0,0,$alpha)
  border-bottom: 2px solid $light-blue
  font-family: serif
  h1
    display: inline-block

#mobile_menu
  $img-height: 26px
  $img-width: 31px
  display: none
  @media #{$break-tablet}
    display: inline-block
  float: right
  cursor: pointer
  margin-top: (43.0 / 2.0 - $img-height / 2.0)
  margin-right: $img-width / 2.0
  img
    height: $img-height
    width: $img-width

nav
  width: 100%
  //height: 40px
  @media #{$break-tablet}
    display: none
  line-height: 40px
  font-size: 24px
  color: white
  background: rgba(80,80,80,$alpha)

  a
    color: white
    text-decoration: none

  ul
    height: inherit
    .selected
      background: $light-blue
    li
      display: inline-block
      @media #{$break-tablet}
        display: block
      height: inherit
      &:hover
        background: $light-blue * 1.1
    a
      // force full width to be clickable
      padding: 0 40px 0 40px
      width: 100%
      max-height: 100%
      @media #{$break-tablet}
        padding-right: 100%


