{% extends 'PantryApp/unauth_base.html' %}
{% block title %}Fork'n Pantry Login{% endblock %}
{% block content %}
    <div class="box">
        <form action="#" method="post">
            <p>Email</p>
            <input id="email" type="text" name="email" placeholder="obama@hotmail.com">
            <p>Password</p>
            <input id="pass" type="password" name="password" placeholder="prez123">
            <button id="login" type="submit">Login</button>
        </form>
    </div>
{% endblock %}
