{% extends 'PantryApp/base.html' %}
{% block nav %}
<ul>
    {% include 'PantryApp/unauth.nav.html' with select='login' %}
</ul>
{% endblock %}
{% block title %}Fork'n Pantry Login{% endblock %}
{% block content %}
    <div class="box narrow">
        <form action="{% url 'Login' %}" method="post">
            {% csrf_token %}
            <p>Username</p>
            <input id="username" type="text" name="username" 
            {% if username %}
                value="{{ username }}"
            {% else %}
                placeholder="Enter your Username"
            {% endif %}
            >
            <p>Password</p>
            <input id="pass" type="password" name="password" placeholder="Enter your Password">
            {% if Username %}
                <p class="form_error">Incorrect Username or Password</p>
            {% endif %}
            <button id="login" type="submit">Login</button>
        </form>
    </div>
    </div>
{% endblock %}
