{% extends 'PantryApp/base.html' %}
{% block nav %}
<ul>
    {% include 'PantryApp/unauth.nav.html' with select='login' %}
</ul>
{% endblock %}
{% block title %}Fork'n Pantry Login{% endblock %}
{% block content %}
    <div class="box narrow">
        <form action="{% url 'Login' %}" method="post">
            {% csrf_token %}
            <p>Email</p>
            <input id="email" type="text" name="email" 
            {% if email %}
                value="{{email}}"
            {% else %}
                placeholder="Enter your Email"
            {% endif %}
            >
            <p>Password</p>
            <input id="pass" type="password" name="password" placeholder="Enter your Password">
            {% if email %}
                <p class="form_error">Incorrect Email/Password</p>
            {% endif %}
            <button id="login" type="submit">Login</button>
        </form>
    </div>
    </div>
{% endblock %}
