{% extends 'PantryApp/base.html' %}
{% block nav %}
    <ul>
        <li class="selected"><a href="{% url 'Pantry' %}">Pantry</a>
        <li><a href="{% url 'Recipes' %}">Breakfast</a>
        <li><a href="{% url 'Recipes' %}">Lunch</a>
        <li><a href="{% url 'Recipes' %}">Dinner</a>
    </ul>
{% endblock %}
{% block title %}Get the Fork'n Pantry{% endblock %}
{% block content %}
    <div class="box">
        <form action="{% url 'Pantry' %}" method="post">
        {% csrf_token %}
        {% for ingredient in ingredients %}
            <label for="{{ingredient.id}}"><input type="checkbox" name="{{ingredient.id}}" 
                {% if ingredient.user_has %}
                    checked
                {% endif %}
                />
                {{ingredient.ingredient}}
            </label>
        {% endfor %}
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}
