{% extends 'PantryApp/base.html' %}
{% load static %}
{% block nav %}
    {% include 'PantryApp/auth.nav.html' with select=category%}
{% endblock %}
{% block title %}Get the Fork'n Pantry{% endblock %}
{% block content %}
    <div class="img_collection">
        {% for recipe in recipes %}
        <a href="http://{{recipe.link}}">
            <div class="img_frame">
                {% if recipe.photo_exists %}
                    {% with recipe.id|stringformat:"s" as recipe_id %}
                        <img src="{% static "PantryApp/img/r/"|add:recipe_id|add:".jpg" %}">
                    {% endwith %}
                {% else %}
                    <img src="{% static "PantryApp/img/r/default.jpg" %}">
                {% endif %}
                <p>{{recipe.name}}</p>
        </div></a>
        {% empty %}
        <div class="box"><p>Sorry, there are no recipes found that match your
            selection of ingredients</p></div>
        {% endfor %}
    </div>
{% endblock %}
