{% extends 'PantryApp/base.html' %}
{% block title %}Register for Fork'n Pantry{% endblock %}
{% block nav %}
    {% include 'PantryApp/unauth.nav.html' with select='register' %}
{% endblock %}
{% block content %}
    <div class="box narrow">
        <form action="{% url "Register" %}" method="post">
            {% csrf_token %}
            <p>Username</p>
            <input id="username" type="text" name="username"
            {% if username %}
                value="{{username}}">
                <p class="form_error">Username already taken.</p>
            {% else %}
                placeholder="Enter your Username">
            {% endif %}
            <p>Password</p>
            <input id="pass1" type="password" name="password1" placeholder="Enter your Password">
            <p>Confirm Password</p>
            <input id="pass2" type="password" name="password2" placeholder="Enter your Password">
            <button id="register" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
