{% extends 'PantryApp/base.html' %}
{% block title %}Register for Fork'n Pantry{% endblock %}
{% block nav %}
<ul>
    <li><a href="{% url 'Login' %}">Login</a>
    <li class="selected"><a href="{% url 'Register' %}">Register</a>
</ul>
{% endblock %}
{% block content %}
    <div class="box">
        <form action="{% url "Register" %}" method="post">
            {% csrf_token %}
            <p>Email</p>
            <input id="email" type="text" name="email"
            {% if email %}
                value="{{email}}">
                <p class="form_error">Username already taken.</p>
            {% else %}
                placeholder="Enter your email">
            {% endif %}
            <p>Password</p>
            <input id="pass1" type="password" name="password1" placeholder="Enter your password">
            <p>Confirm Password</p>
            <input id="pass2" type="password" name="password2" placeholder="Enter your password">
            <button id="register" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
